<article 
  class="artisan-card card" 
  [class.top-artisan]="artisan.top"
  tabindex="0"
  [attr.aria-label]="'Artisan: ' + artisan.name + ', ' + artisan.specialty + ', ' + artisan.location">
  
  <div class="artisan-info card-body">
    <h3 class="card-title">{{ artisan.name }}</h3>
    <p class="artisan-details card-text text-muted">{{ artisan.specialty }}, {{ artisan.location }}</p>
    <div 
      class="rating d-flex align-items-center" 
      role="img" 
      [attr.aria-label]="'Note : ' + artisan.note + ' étoiles sur 5'"> 
      <p class="artisan-note">{{ artisan.note }}</p>
      <span 
        class="star" 
        *ngFor="let star of [1,2,3,4,5]"
        [class.filled]="star <= artisan.note">
        ★
      </span>
    </div>
  </div>
</article>