<footer>
    <div class="footer">
        <div class="footer-container">
            <div class="footer-logo">
                <img src="assets/images/Logo.png" alt="Logo Région Auvergne-Rhône-Alpes" />
            </div>

            <div class="footer-locations">
                <div class="location">
                    <h5><strong>Lyon</strong></h5>
                    <address>
                        101 cours Charlemagne<br />
                        CS 20033<br />
                        69269 LYON CEDEX 02<br />
                        France<br />
                        <a href="tel:+33426734000"><fa-icon [icon]="faPhone " class="icon"></fa-icon>
                            +33 (0)4 26 73 40 00
                        </a>
                    </address>
                </div>
            </div>
        </div>
        <nav class="footer-links">
            <ul>
                <li><a routerLink="/mentions-legales">Mentions légales</a></li>
                <li><a routerLink="/donnees-personnelles">Données personnelles</a></li>
                <li><a routerLink="/accessibilite">Accessibilité : partiellement conforme</a></li>
                <li><a routerLink="/contacts">Contacts</a></li>
                <li><a routerLink="/politique-cookies">Politique des cookies</a></li>
                <li><a routerLink="/gestion-cookies">Gestion des cookies</a></li>
            </ul>
        </nav>
    </div>
</footer>