$secondary-gray: #384050;

$tablet: 1024px;
$desktop: 1200px;

.content {
    margin: 0 6.5rem;
    padding: 2rem 0;
}

.service-section {
  padding: 3rem 0;

  h2 {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: 0;
    color: $secondary-gray;
  }
}

@media (min-width: $tablet) {

  .service-section {
    h2 {
      font-size: 2rem;
    }
  }
}

@media (min-width: $desktop) {
  
  .service-section {
    h2 {
      font-size: 2.25rem;
    }
  }
}