<div class="content" role="main">
<section class="how-to-find" aria-labelledby="how-to-title">
    <div class="container">
      <h2 id="how-to-title">Comment trouver mon artisan ?</h2>
      
      <div class="row">
        <div class="col-12">
          <div class="step-card" *ngFor="let step of steps">
            <fa-icon [icon]="step.icon" class="icon"></fa-icon>
            <div class="step-content">
              <h3>{{ step.title }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="artisans-section" id="artisans" aria-labelledby="artisans-title">
    <div class="container">
      <h2 id="artisans-title">Les Artisans du mois</h2>
      
      <div class="row">
        <div class="artisan-list">
          <article 
            class="artisan-card" 
            *ngFor="let artisan of artisansDuMois"
            tabindex="0"
            [attr.aria-label]="'Artisan: ' + artisan.name + ', ' + artisan.specialty + ', ' + artisan.location">
            
            <div class="artisan-info">
                <h3>{{ artisan.name }}</h3>
                <p class="artisan-details">{{ artisan.specialty }}, {{ artisan.location }}</p>
              <div 
                class="rating" 
                role="img" 
                [attr.aria-label]="'Note : ' + artisan.note + ' étoiles sur 5'"> 
                <p class="artisan-note">{{ artisan.note }}</p>
                <span 
                  class="star" 
                  *ngFor="let star of [1,2,3,4,5]"
                  [class.filled]="star <= artisan.note">
                  ★
                </span>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
</div>